@using Technic.Web.Data.Enums
@using Technic.Web.Models.Product
@model ShortProductListViewModel

<div class="container">
    <section class="row">
            <span class="fs-3 mt-2">Товары</span>
            @foreach (var item in Model.ProductList)
            {
                <div class="product-card d-flex mt-4 align-items-center">
                    <div style="width: 60px" height="60px" class="d-flex align-items-center rounded-circle overflow-hidden">
                        <img height="60px" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ProductImage))"></img>
                    </div>
                    <div class="product-data d-flex align-items-center justify-content-between w-100">
                        <div>
                            <span class="fs-4">@item.Name</span><br/>
                            <span class="fs-5">@item.Description</span><br />
                            </div>
                        <div class="product-cost fs-5 text-center">
                            <span>@item.Price руб.</span><br/>
                            
                            <form method="get" asp-action="Create" asp-controller="Order">
                                <input value="@item.Id" name="productId" style="display: none"></input>
                                <button type="submit" class="btn btn-primary mt-3">Купить</button>
                            </form>
                           
                        </div>
                    </div>
                </div>   
            }
    </section>
</div>