@{
    ViewData["Title"] = "Home Page";
}

 <section class="section-wrap img1 text-center">
    <div class="logo-wrap d-flex align-items-center h-100">
        <div class="m-auto">
            <img src="img/logo1.png" width="230" alt="">
            <div class="text-white fs-5 mt-4">В нашем Интернет-магазине вы можете самостоятельно создать «Умный Дом», купив оборудование и технику для «Умного дома»е</div>
        </div>
    </div>
</section>
<div class="footer container text-white">
    <div class="row">
        <div class="col-md-4 p-3">
            <div class="footer-header text-black mb-3 fs-3 mt-4">О МАГАЗИНЕ</div>
            <p class="text-black">Умный дом — единая система управления в доме, офисе, квартире или здании, включающая в себя датчики, управляющие элементы и исполнительные устройства. Управляющие элементы принимают сигналы с датчиков и контролируют работу исполнительных устройств, действуя согласно заданным алгоритмам.</p>
        </div>
        <div class="col-md-5 p-3">
            <div class="footer-header mb-3 fs-3 mt-4">КАТЕГОРИИ</div>
            <div class="d-flex footer-btn-wrap">
                <div class="btn btn-dark">Пульты</div>
                <div class="btn btn-dark">Камеры</div>
                <div class="btn btn-dark">Аксессуары</div>
                <div class="btn btn-dark">Колонки</div>
            </div>
            <div class="d-flex footer-btn-wrap">
                <div class="btn btn-dark">Освещение</div>
                <div class="btn btn-dark">Розетки</div>
                <div class="btn btn-dark">Управление</div>
                <div class="btn btn-dark">Безопасность</div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="footer-header mb-3 fs-3 mt-4">РАССЫЛКА</div>
            <span>Оставьте почту для получения новых сообщений</span>
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Ваша почта" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark" type="button">ПОДПИСАТЬСЯ</button>
                </div>
            </div>
        </div>
    </div>
</div>
